html, body, h3 {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  .container {
      margin:0 auto;
      width:100%;
  }
  /*
  .team-wrapper {
      background-image:url(https://i.ibb.co/2yrXT8C/1111.jpg);
      background-size:cover;
      margin:0 auto;
      padding-top:100px;
      padding-bottom:80px;
  }
   */
  .title-wrap {
      margin:0 auto;
  }
  
  .team-line {
      margin:0 auto;
      width:50%;
      border-bottom:5px solid #3e82b9d3;
      text-align:center;
      margin-top:10px;
      margin-bottom:50px;
      border-radius:2px;
      padding-bottom:20px;
  }
  
  .team-title-left {
      text-align:center;
      margin-right:15px;
      display:flex;
  }
  
  .team-title-right {
      text-align:center;
      display:flex;
  }
  
  .team-title{
      text-align:center;
      display:flex;
      align-items: center;
      justify-content: center;
  }
  
  .team-title p {
      background-color:#3e82b9;
      margin:0px 3px;
      padding:5px;
      font-size:32px;
      color:white;
      font-family: 'Brush Script MT', cursive;
      border-radius:7px;
      box-shadow:2px 2px #5e96c4;
  }
  
  .teams {
      display:flex;
      margin-right:30px;
  }
  
  .member-container {
      width:20%;
      flex:auto;
      position:relative;
      padding:10px 10px;
      margin:0 auto;
      height:470px;
  }
  
  .member {
      display:inline-block;
      height:100%;
      width: 100%;
      background-color:#8aacc811;
      text-align:center;
      border-radius:20px;
      margin:0 auto;
      box-shadow:0px 5px #738fe9;
      padding-bottom:10px;
  }
  
  .member-image {
      padding-top:15px;
      border-radius:5px;
      height:40%;
      max-width:90%;
      border-radius:50px;
      padding-bottom:10px;
  }
  
  .member h3 {
      font-family: Rockwell;
      font-size: 14px;
      padding-top:20px;
      color: #f7f7f7;
      letter-spacing:1px;
      padding-bottom:10%;
      border-bottom:1px solid #f7f7f7;
  }
  
  .member p {
      padding-top:10px;
      color:#3f2b2b;
      letter-spacing:1.5px;
      font-family:cursive;
      font-size:14px;
  }.member p {
      padding-top:10px;
      color:#3f2b2b;
      letter-spacing:1.5px;
      font-family:cursive;
      font-size:12px;
  }
  
  .member-info {
      text-align:center;
      background-color: #6299c7;
      margin:0 auto;
      padding:20px 10px;
      border-radius:20px;
  
  }
  
  .social {
      position: absolute;
      bottom: 7%;
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
      color:#000000;
  }
  
  
  .instagram-link{
    display:inline-block;
    padding:7px;
    border-radius:7px;
    margin-right:5px;
    border-radius: 7px;
  }
  .instagram-link:hover{
    text-align: center;
    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px rgba(0,0,0,.25);
    transition:0.5s;
  }
  .instagram-link:active{
    position:relative;
    box-shadow:none;
    bottom:-2px;
  }
  .linkedin-link {
    display:inline-block;
    padding:7px;
    border-radius:7px;
    margin-right:5px;
  }
  
  .linkedin-link:hover {
    background-color: #2867b2;
    transition:0.5s;
    color:#f7f7f7;
    box-shadow: 0px 3px #174ceb;
  }
  .linkedin-link:active{
    position:relative;
    box-shadow:none;
    bottom:-2px;
  }
  .github-link {
    display:inline-block;
    padding:7px;
    border-radius:7px;
    margin-right:5px;
  }
  .github-link:hover {
    background-color: #eee2e2;
    color:#000000;
    transition:0.5s;
    box-shadow: 0px 3px #686869;
  }
  .github-link:active{
    position:relative;
    box-shadow:none;
    bottom:-2px;
  }
  
  @media (min-width:1000px){
    .team-wrapper {
        background-image:url(https://i.ibb.co/2yrXT8C/1111.jpg);
        background-size:cover;
        margin:0 auto;
        padding-top:100px;
        padding-bottom:80px;
    }
  }
  
  
  @media (max-width:1000px){
      .member-container {
          width:40%;
          margin:0 auto;
          padding-bottom:20px;
          margin:0 auto;
          text-align:center;
      }
  
      .team-wrapper {
        background-color:#e4d6d6;
        margin:0 auto;
        padding-top:100px;
        padding-bottom:80px;
    }
  
      .teams {
          flex-wrap:wrap;
      }
  }
  
  @media (max-width:670px){
      .member-container {
          margin:0 auto;
      }
  
      .member-info {
          bottom:0px;
      }
  
      .team-wrapper {
        background-color:#e4d6d6;
        margin:0 auto;
        padding-top:100px;
        padding-bottom:80px;
    }
  
    .social {
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
    }
  }
  
