* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://github.com/irfannandag/C01/blob/8f26cbd401fc3cc55c8a5f2c98099d06a7c011df/image/webheading.jpg?raw=true);
    background-size: cover;
    color: white;
    text-align: center;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto
}

.top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 6px;
    margin-bottom: 10px;
}

.top-wrapper h3 {
    font-size: 35px;
}

.btn-wrapper {
    margin: 20px 0;
    text-align: center;
}

.btn {
    border-radius: 10px;
    box-shadow: 0 7px #0077c2;
    color: white;
    padding: 15px 40px;
    opacity: 0.8;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.learn {
    background-color: #42a5f5;
}

.learn:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.fa {
    margin-right: 10px;
}

.our-project {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 60px;
    background-color: white;
    text-align: center;
}

.heading {
    border-bottom: 3px solid #dee7ec;
    width: 100%;
    margin: 0 auto;
}

.heading h2 {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-align: center;
}

.body-slider p {
    font-size: 24px;
    text-align: center;
}

.slider { 
	width: 800px;
    height: 360px;
	background-image: url(https://raw.githubusercontent.com/irfannandag/C01/main/image/gambar1.png);
    background-size: cover;
    margin: 0 auto;
    animation: slide 20s infinite;
}

@keyframes slide {
    25% {
        background: url(https://raw.githubusercontent.com/irfannandag/C01/main/image/gambar2.png);
        background-size: cover;
    }
    50% {
        background: url(https://raw.githubusercontent.com/irfannandag/C01/main/image/gambar3.png);
        background-size: cover;
    }
    75% {
        background: url(https://raw.githubusercontent.com/irfannandag/C01/main/image/gambar4.png);
        background-size: cover;
    }
    100% {
        background: url(https://raw.githubusercontent.com/irfannandag/C01/main/image/gambar1.png);
        background-size: cover;
    }
}


/* Tablet */
@media (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 32px;
    }

    .slider {
        width: 100%;
        height: 284px;
        margin: 0 auto;
        background-size: cover;
    }
}
  
  
/* Smartphone */
@media (max-width: 670px) {
    .top-wrapper {
        text-align: left;
    }
    
    .top-wrapper h2 {
        line-height: 36px;
    }
    
    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }
    
    .top-wrapper h3 {
        font-size: 30px;
        line-height: 30px;
    }
    
    .btn {
        width: 100%;
    }

    .slider {
        width: 100%;
        height: 150px;
        margin: 0 auto;
        background-size: cover;
    }
}
